@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:wght@400;500&family=Neucha&family=Poppins:wght@500&family=Work+Sans:wght@600&display=swap");
.main_title {
  text-align: center;
  color: #1b31a8;
  font-size: 20px;
  font-family: Work Sans;
  margin-bottom: 24px;
}

@media screen and (max-width: 480px) {
  .main_title {
    width: 328px;
    font-size: 18px;
  }
}
